h1{
  font-family:monospace;
  font-size:35px;
  text-align:center;
  color:#8C5151;

}
h3{
  text-align:center;
  font-family:monospace;
  font-size:25px;

}
p{
  font-family:monospace;
  text-align:center;
  font-size:18px;
  padding:15px

}
p1{
  font-family:monospace;
  text-align:center;
}
body{

  background-size:cover;
  background-color:#72CFB8;
  background-image: url(file:///Volumes/jh%20external/redo/css/image/background.jpg);
  border-left: 10px;
}

}

/* @ media-applied when the device thats running the browser needs to match a set condition; so for phone size, computer, etc. */
